html, body, p { width: 100%; display: block; margin: 0px; padding: 0px; }

body {
    background-color: hsl(0,0%,95%);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#parent {
    width: 60%;
    margin: auto;
    font-size: 14px;
    text-align: left;
    line-height: 150%;
}

ul {
    background-color: hsl(0,0%,90%);
    list-style-type: decimal;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
    text-align: left;
    border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.code {
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
    border-radius: 10px;
	border-left: 1px solid #999;
	padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#exp {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    background: url('');
}

hr {
    color: white;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: #666;
    text-align: center;
}

h3 {
    color: #666;
}

a:link {
    color: #800000;
}

a:visited {
    color: #696969;
}

#footer {
    display: block;
    margin-top: 0px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.clicktoshow {
    display: inline-block;
    cursor: pointer;
    background-color: hsl(0,0%,90%);
    border: 1px solid #999;
    padding: 5px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.hide {
    display: none
}

#parent img {
    border: 1px solid black;
    width: 400px;
    height: 200px;
}
